/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
}
.navbar h1 {
    color: red;
}
.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    margin-right: 10px;
}

.site-title {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: #ff4646;
}
